<div class="max-w-7xl mx-auto px-6 lg:px-8 py-4 flex items-center gap-2">
  <nav class="flex items-center mr-auto ">
    <a href="/" class="[&>svg]:size-6 mr-4">{% include "assets/logo.svg" %}</a>
    {# <span class="text-lg font-bold">/dev/push</span> #}
  </nav>

  <nav class="items-center gap-2 hidden sm:flex">
    <a 
      href="/"
      class="max-sm:w-full btn-sm-ghost {% if page.url == '/' %}bg-accent dark:bg-accent/50{% endif %}" 
      {% if page.url == '/' %}aria-current="page"{% endif %}
    >
        Home
    </a>
    <a 
      href="/docs"
      class="max-sm:w-full btn-sm-ghost {% if page.url.startsWith('/docs') %}bg-accent dark:bg-accent/50{% endif %}"
      {% if page.url == '/docs' %}aria-current="page"{% endif %}
    >
      Docs
    </a>
    <a class="max-sm:w-full btn-sm-ghost" href="https://devpu.sh/chat">
      {% include "logos/discord.svg" %}
      Discord
    </a>
    <a class="max-sm:w-full btn-sm-ghost" href="https://github.com/hunvreus/devpush">
      {% include "logos/github.svg" %}
      GitHub
    </a>
    {# <a class="max-sm:w-full btn-sm-outline" href="https://app.devpu.sh">Sign in</a> #}
  </nav>

  <div class="sm:hidden" x-data="{ isOpen: false }">
    <button type="button" class="btn-sm-icon-ghost" @click="isOpen = !isOpen">
      <span x-show="!isOpen" x-cloak>{% include "icons/menu.svg" %}</span>
      <span x-show="isOpen" x-cloak>{% include "icons/x.svg" %}</span>
    </button>
    <nav class="fixed inset-0 top-16 bg-background z-50 flex flex-col gap-2 p-4 transition-all opacity-0 scale-95 -translate-y-16 invisible" :class="{ 'opacity-100 scale-100 translate-y-0 visible': isOpen }" x-cloak>
      <a class="btn-lg-ghost justify-between px-4" href="/">
        Home
      </a>
      <a class="btn-lg-ghost justify-between px-4" href="/docs">
        Docs
      </a>
      <a class="btn-lg-ghost justify-between" href="https://devpu.sh/chat">
        Discord
        {% include "logos/discord.svg" %}
      </a>
      <a class="btn-lg-ghost justify-between" href="https://github.com/hunvreus/devpush">
        GitHub
        {% include "logos/github.svg" %}
      </a>
      {# <a class="btn-lg-ghost justify-between" href="https://app.devpu.sh">
        Sign in
        {% include "icons/arrow-right.svg" %}
      </a> #}
    </nav>
  </div>
</div>