<div class="text-sm space-y-4 w-full max-w-[80%]">
  <div class="space-y-2">
    <div class="label">Build command</div>
    <input type="text" class="input w-full font-mono" value="uv sync" tabindex="-1">
  </div>

  <div class="space-y-2">
    <div class="label">Start command</div>
    <input type="text" class="input w-full font-mono" value="uv run gunicorn -w 3 -b 0.0.0.0:8000 main:app" tabindex="-1">
  </div>
</div>