<ul>
  <li class="flex gap-x-4 items-center border border-border/100 border-b-0 last:border-b first:rounded-t-xl last:rounded-b-xl px-4 h-12 text-sm">
    <span class="text-muted-foreground [&>svg]:size-4 flex items-center gap-x-2">
      {% include "icons/loader.svg" %}
    </span>
    <div class="font-medium font-mono text-[13px]">d2fc5a3</div>
    <div class="flex items-center gap-x-2 text-muted-foreground">
      <span class="flex items-center gap-x-2 min-w-0">
        <span class="flex items-center justify-center size-4">
          <span class="inline-block rounded h-2.5 w-2.5 bg-blue-500 shrink-0"></span>
        </span>
        <span class="truncate">Production</span>
      </span>
    </div>
    <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">now</div>
    <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:size-4 [&>svg]:shrink-0 min-w-0">
      {% include "icons/git-branch.svg" %}
      <span class="truncate">main</span>
    </div>
    <div class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
      {% include "icons/git-commit-horizontal.svg" %}
      <span class="truncate">feat: add user authentication middleware</span>
    </div>
  </li>
  <li class="flex gap-x-4 items-center border border-border/100 border-b-0 last:border-b first:rounded-t-xl last:rounded-b-xl px-4 h-12 text-sm">
    <span class="text-destructive [&>svg]:size-4 flex items-center gap-x-2">
      {% include "icons/circle-x.svg" %}
    </span>
    <div class="font-medium font-mono text-[13px]">b33008f</div>
    <div class="flex items-center gap-x-2 text-muted-foreground">
      <span class="flex items-center gap-x-2 min-w-0">
        <span class="flex items-center justify-center size-4">
          <span class="inline-block rounded h-2.5 w-2.5 shrink-0 bg-blue-500"></span>
        </span>
        <span class="truncate">Production</span>
      </span>
    </div>
    <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">5 minutes ago</div>
    <div class="flex items-center gap-x-2 text-muted-foreground [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0 min-w-0">
      {% include "icons/git-branch.svg" %}
      <span class="truncate">main</span>
    </div>
    <div class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
      {% include "icons/git-commit-horizontal.svg" %}
      <span class="truncate">fix: resolve database connection timeout</span>
    </div>
  </li>
  <li class="flex gap-x-4 items-center border border-border/100 border-b-0 last:border-b first:rounded-t-xl last:rounded-b-xl px-4 h-12 text-sm">
    <span class="text-green-600 dark:text-green-500 [&>svg]:size-4 flex items-center gap-x-2">
      {% include "icons/circle-check.svg" %}
    </span>
    <div class="font-medium font-mono text-[13px]">310281b</div>
    <div class="flex items-center gap-x-2 text-muted-foreground">
      <span class="flex items-center gap-x-2 min-w-0">
        <span class="flex items-center justify-center size-4">
          <span class="inline-block rounded h-2.5 w-2.5 shrink-0 bg-blue-500"></span>
        </span>
        <span class="truncate">Production</span>
      </span>
    </div>
    <div class="flex items-center gap-x-2 text-muted-foreground whitespace-nowrap">1 hour ago</div>
    <div class="flex items-center gap-x-2 text-muted-foreground min-w-0 [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
      {% include "icons/git-commit-horizontal.svg" %}
      <span class="truncate">docs: update API endpoint documentation</span>
    </div>
  </li>
</ul>