<div class="flex flex-col gap-y-4 max-w-[80%] text-sm">
  <div class="bg-card text-card-foreground rounded-xl border shadow-sm p-4">
    <header class="flex items-center gap-x-2 mb-4">
      <div class="flex items-center gap-x-2 h-4">
        <span class="w-4 h-4 flex items-center justify-center">
          <span class="inline-block rounded h-2.5 w-2.5 bg-blue-500 shrink-0"></span>
        </span>
        <span class=" flex-1 truncate font-medium">Production</span>
      </div>
    </header>
    <ul class="space-y-1">
      <li>
        <div class="text-muted-foreground flex items-center gap-x-2 hover:text-foreground transition-colors [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link2-icon lucide-link-2"><path d="M9 17H7A5 5 0 0 1 7 7h2"></path><path d="M15 7h2a5 5 0 1 1 0 10h-2"></path><line x1="8" x2="16" y1="12" y2="12"></line></svg>
          <span class="truncate">flask-acme-inc.devpushapp.com</span>
        </a>
      </div>
      <li>
        <div class="text-muted-foreground flex items-center gap-x-2 hover:text-foreground transition-colors [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-git-branch-icon lucide-git-branch"><line x1="6" x2="6" y1="3" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg>
          <span class="truncate">main</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="bg-card text-card-foreground rounded-xl border shadow-sm p-4">
    <header class="flex items-center gap-x-2 mb-4">
      <div class="flex items-center gap-x-2 h-4">
        <span class="w-4 h-4 flex items-center justify-center">
          <span class="inline-block rounded h-2.5 w-2.5 bg-purple-500 shrink-0"></span>
        </span>
        <span class=" flex-1 font-medium">Staging</span>
      </div>
    </header>
    <ul class="space-y-1">
      <li>
        <div class="text-muted-foreground flex items-center gap-x-2 hover:text-foreground transition-colors [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link2-icon lucide-link-2"><path d="M9 17H7A5 5 0 0 1 7 7h2"></path><path d="M15 7h2a5 5 0 1 1 0 10h-2"></path><line x1="8" x2="16" y1="12" y2="12"></line></svg>
          <span class="truncate">flask-acme-inc.devpushapp.com</span>
        </a>
      </div>
      <li>
        <div class="text-muted-foreground flex items-center gap-x-2 hover:text-foreground transition-colors [&>svg]:opacity-50 [&>svg]:dark:opacity-60 [&>svg]:size-4 [&>svg]:shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-git-branch-icon lucide-git-branch"><line x1="6" x2="6" y1="3" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg>
          <span class="truncate">main</span>
        </div>
      </li>
    </ul>
  </div>
</div>