<ul>
  <li class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md font-mono text-[13px]">
    <div class="text-muted-foreground whitespace-nowrap">18:34:02</div>
    <div class="truncate">Successfully installed Babel-2.17.0 Mako-1.3.10 alembic-1.16.4 blinker-1.9.0 certifi-2025.8.3 charset_normalizer-3.4.3 click-8.2.1 dnspython-2.7.0 email-validator-2.2.0 flask-3.1.1 flask-babel-4.0.0 flask-login-0.6.3 flask-migrate-4.1.0 flask-sqlalchemy-3.1.1 flask-wtf-1.2.2 greenlet-3.2.4 gunicorn-23.0.0 idna-3.10 itsdangerous-2.2.0 jinja2-3.1.6 markupsafe-3.0.2 packaging-25.0 pyjwt-2.10.1 python-dotenv-1.1.1 pytz-2025.2 requests-2.32.4 resend-2.13.0 sqlalchemy-2.0.43 typing-extensions-4.14.1 urllib3-2.5.0 werkzeug-3.1.3 wtforms-3.2.1</div>
  </li>
  <li class="flex items-start gap-x-4 px-2 py-1.5 bg-muted rounded-md font-mono text-[13px]">
    <div class="text-muted-foreground whitespace-nowrap">18:34:02</div>
    <div class="break-all">Starting application...</div>
  </li>
  <li class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md font-mono text-[13px]">
    <div class="text-muted-foreground whitespace-nowrap">18:34:03</div>
    <div class="break-all">[INFO] Starting gunicorn 23.0.0</div>
  </li>
  <li class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md font-mono text-[13px]">
    <div class="text-muted-foreground whitespace-nowrap">18:34:03</div>
    <div class="break-all">[INFO] Booting worker with pid: 25</div>
  </li>
  <li class="flex items-start gap-x-4 px-2 py-1.5 hover:bg-muted rounded-md font-mono text-[13px] text-green-600 dark:text-green-500">
    <div class="text-muted-foreground whitespace-nowrap">18:34:05</div>
    <div class="break-all">Success: Deployment is available at http://flask-basics-ronan-berder-id-310281b.deploy.localhost</div>
  </li>
</ul>