<div class="text-sm">
  <div class="border-y flex items-center gap-x-4 border-border/50 h-12">
    <div class="font-medium flex items-center gap-x-4 [&>svg]:size-4 truncate [&>svg]:opacity-50 w-28">
      <img src="https://github.com/hunvreus.png" alt="Ronan Berder" class="size-8 rounded-full">
      <div class="flex flex-col">
        <span class="font-medium">Ronan</span>
      </div>
    </div>
    <div class="flex-1 text-muted-foreground">
      hunvreus@gmail.com
    </div>
    <button class="btn-outline pointer-events-none font-normal [&>svg]:text-muted-foreground [&>svg]:opacity-50" tabindex="-1" disabled>
      Owner
      {% lucide "chevron-down" %}
    </button>
  </div>
  <div class="border-b flex items-center gap-x-4 border-border/50 h-12">
    <div class="font-medium flex items-center gap-x-4 [&>svg]:size-4 truncate [&>svg]:opacity-50 w-28">
      <img src="https://github.com/1cg.png" alt="Jackson Lee" class="size-8 rounded-full">
      <div class="flex flex-col">
        <span class="font-medium">Carson</span>
      </div>
    </div>
    <div class="flex-1 text-muted-foreground">
      1cg@acme.com
    </div>
    <div class="btn-outline pointer-events-none font-normal [&>svg]:text-muted-foreground [&>svg]:opacity-50" tabindex="-1">
      Admin
      {% lucide "chevron-down" %}
    </div>
  </div>
  <div class="border-b flex items-center gap-x-4 border-border/50 h-12">
    <div class="font-medium flex items-center gap-x-4 [&>svg]:size-4 truncate [&>svg]:opacity-50 w-28">
      <img src="https://github.com/tiangolo.png" alt="Sebasti&aacute;n Ram&iacute;rez" class="size-8 rounded-full">
      <div class="flex flex-col">
        <span class="font-medium">Sebasti&aacute;n</span>
      </div>
    </div>
    <div class="flex-1 text-muted-foreground">
      tiangolo@acme.com
    </div>
    <div class="btn-outline pointer-events-none font-normal [&>svg]:text-muted-foreground [&>svg]:opacity-50" tabindex="-1">
      Admin
      {% lucide "chevron-down" %}
    </div>
  </div>
</div>