<ul class="flex items-center">
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>SQLite database</h2>
        <p>Manage SQLite databases per environment.</p>
      </header>
    </div>
  </li>
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>Persistent storage</h2>
        <p>Create files per environment for each project.</p>
      </header>
    </div>
  </li>
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>Custom containers</h2>
        <p>Deploy apps on custom Docker containers.</p>
      </header>
    </div>
  </li>
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>Remote nodes</h2>
        <p>Manage multiple nodes from a single dashboard.</p>
      </header>
    </div>
  </li>
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>Observability</h2>
        <p>Real-time monitoring of core metrics: CPU, RAM, network...</p>
      </header>
    </div>
  </li>
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>Manage resources</h2>
        <p>Scale up or down the resources environments have access to.</p>
      </header>
    </div>
  </li>
  <li class="w-[280px] px-2">
    <div class="card">
      <header>
        <h2>Cron</h2>
        <p>Run scheduled tasks in your app.</p>
      </header>
    </div>
  </li>
</ul>