---
layout: layouts/base.njk
---

{% include "partials/docs/sidebar.njk" %}
{% set navigation = menu | getNavigation %}

<main id="content">
  <header class="bg-background sticky inset-x-0 top-0 isolate flex shrink-0 items-center gap-2 border-b z-10">
    {% include "partials/docs/header.njk" %}
  </header>

  <div class="p-4 md:p-6 xl:p-12 flex gap-10">
    <article class="flex-1 min-w-0 break-words">
      <div class="mx-auto w-full max-w-2xl flex-1 space-y-10">
        <header class="space-y-2">
          <div class="flex items-start gap-x-2">
            <h1 class="text-2xl font-semibold tracking-tight sm:text-3xl xl:text-4xl mr-auto">{{ title }}</h1>
            {% if navigation.prev %}
              <a href="{{ navigation.prev.url }}" class="btn-sm-icon-secondary mt-1.5 hidden sm:flex">
                <span class="sr-only">{{ navigation.prev.label }}</span>
                {% lucide "arrow-left" %}
              </a>
            {% endif %}
            {% if navigation.next %}
              <a
                href="{{ navigation.next.url }}" class="btn-sm-icon-secondary mt-1.5 hidden sm:flex"
              >
                <span class="sr-only">{{ navigation.next.label }}</span>
                {% lucide "arrow-right" %}
              </a>
            {% endif %}
          </div>
          {% if description %}
            <p class="text-muted-foreground sm:text-base">{{ description }}</p>
          {% endif %}
        </header>
        <div class="prose">
          {{ content | safe }}
        </div>
        <footer class="flex items-center">
          {% if navigation.prev %}
            <a href="{{ navigation.prev.url }}" class="btn-sm-secondary mr-auto">
              {% lucide "arrow-left" %}
              {{ navigation.prev.label }}
            </a>
          {% endif %}
          {% if navigation.next %}
            <a
              href="{{ navigation.next.url }}" class="btn-sm-secondary ml-auto"
            >
              {{ navigation.next.label }}
              {% lucide "arrow-right" %}
            </a>
          {% endif %}
        </footer>
      </div>
    </article>
    {# mx-auto flex w-full max-w-2xl min-w-0 flex-1 flex-col gap-8 px-4 py-6 text-neutral-800 md:px-0 lg:py-8 dark:text-neutral-300 #}

    <aside class="hidden xl:block w-56">
      <div class="sticky top-20 text-sm [&_a]:text-muted-foreground [&_a]:hover:text-primary space-y-2 [&_ol]:space-y-2 [&_ol_ol]:pl-3 [&_ol_ol]:mt-2">
        <h2 class="font-medium">On this page</h2>
        {{ content | toc | safe }}
      </div>
    </aside>
  </div>
</main>

{# sticky top-[calc(var(--header-height)+1px)] z-30 ml-auto hidden h-[calc(100svh-var(--header-height)-var(--footer-height))] w-72 flex-col gap-4 overflow-hidden overscroll-none pb-8 xl:flex #}